:root{
      --first-title-color: #2E2F42;
      --second-tittle-color: #434455;
      --accent-color: #404bbf;      
      --primary-white-color: #FFFFFF;
}

body{
      font-family: "Roboto", sans-serif;     
      color: #434455;
      background-color: #FFFFFF;

}

.p-text{ 
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;

}

.list{
      list-style: none;
}

.link{
      text-decoration: none;
}

/**-----------------HEADER-------------*/

.header{
      font-style: normal;
      font-family: "Raleway", sans-serif;
}

.logo-web{
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17; 
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4D5AE5;
            text-decoration: none;
}

.logo-studio{
            font-weight: 800;
                  font-size: 18px;
                  line-height: 1.17;
                  letter-spacing: 0.03em;
                  text-decoration: none;
                  color: var(--first-title-color);
}

.header-link{
      font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--first-title-color);
}
             
.header-link:is(:hover,:focus){
      color: #404bbf;
}

.header-address-link{
            color: var(--second-tittle-color);

}

/**-----------------HERO-------------*/

.hero{
      background: var(--first-title-color);
}

.main-text{
      font-weight: 700;
            font-size: 56px;
            line-height: 1.07;
            letter-spacing: 0.02em;
            text-align: center;
            color: #FFFFFF;
}

.btn-hero{
      background-color: #4D5AE5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            font-family: inherit;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 1.5;
                  letter-spacing: 0.04em;
                  color: #FFFFFF;
                  cursor: pointer;
}

.btn-hero:is(:hover,:focus){
      background-color:#404BBF
}

.visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
}
.about-name{
      font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--first-title-color);
      }

.about-item-name{
      color: var(--second-tittle-color);
}

.images-head{
      font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            text-transform: capitalize;
            color: var(--first-title-color);
}

.images-item{
      background: url(2368.jpg);
            border: 1px solid #E7E9FC;
}

.team{
      background: #F4F4FD;
}

.team-name{
      font-weight: 700;
            font-size: 36px;
            line-height: 1.11;
            text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: var(--first-title-color);
}

.team-group{
      font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--first-title-color);
      }

.team-item{
      background: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
}

.team-about{
      color: var(--second-tittle-color);
}

/**-----------------FOOTER-------------*/

.footer{
      font-family: "Raleway", sans-serif;
      font-style: normal;
      background: var(--first-title-color);
}

.footer-logo-studio{
      font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-decoration: none;
            text-transform: uppercase;
            color: #F4F4FD;
}

.footer-about{
      color: #F4F4FD;
}

/**-----------------PORTFOLIO-------------*/

.nav-buttom {
      background-color: #f4f4fd;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.04em;
      color: #4d5ae5;
      cursor: pointer;
    }
    
    .nav-buttom:hover,
    .nav-buttom:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
    }

.portfolio-item{
background: #FFFFFF;
      border: 1px solid #E7E9FC;
}

.portfolio-name{
      font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--first-title-color);
      }

.portfolio-text{
      color: var(--second-tittle-color);
}